<div class="row justify-content-center align-items-center mt-3 mb-n3">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="1">&laquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{ page_obj.previous_page_number }}">&lsaquo;</a>
                </li>
            {% endif %}
            {% for page in page_obj.paginator.page_range %}
            <li class="page-item {% if page == page_obj.number %} active {% endif %}">
                <a class="page-link" href="{{ page }}">{{ page}}</a>
            </li>
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ page_obj.next_page_number }}">&rsaquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{ page_obj.paginator.num_pages }}">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
