{% load static %}
<!doctype html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'mainapp/includes/inc_css.html' %}

    <title>
        {% block title %} 
    
        Welcome to Braniac! 
    
        {% endblock title %}
    </title>
</head>

<body>

    <!-- navigation-panel -->

    {% include 'mainapp/includes/inc_nav_panel.html' %}
    
    <!-- /navigation-panel -->

    {% block nessages %}
    
    {% include 'authapp/includes/inc_messages.html' %}
    
    {% endblock nessages %}


    <!-- content-block -->

    {% block content %}

    {% endblock content %}

    <!-- /content-block -->




    <!-- Footer -->

    {% include 'mainapp/includes/inc_footer_navigation.html' %}

    <!-- /Footer -->




    <!-- JavaScript section -->

    {% include 'mainapp/includes/inc_js.html' %}

    {% block js %}

        <script>
            $(document).ready(function () {

                {% if messages %}
                
                // Toasts
                $(".toast").toast({ delay: 5000 });
                $(".toast").toast("show");

                {% endif %}

                });
        </script>

    {% endblock js %}


</body>

</html>