{% extends 'mainapp/base.html' %}

{% block content %}

{% load static %}

<div class="container-md">

<div class="row">

  <div class="col-lg-8">

    <div class="card my-2">
      <div class="card-body">
        <h5 class="card-title">Новый Django 4.0</h5>
        <h6 class="card-subtitle mb-2 text-muted">2021-12-07 06:29:02</h6>
        <p class="card-text">Что нового в <a href="{% url 'mainapp:news_search' %}?text=Документация Django 4.0"> Django 4.0</a></p>
        <a href="#" class="card-link">Подробнее</a>
      </div>
    </div>

    {% for news in news_list %}
    
    <div class="card my-2">
      <div class="card-body">
        <h5 class="card-title">{{ news.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ news.created_at|date:"Y-m-d h-i-s"  }}</h6>
        <p class="card-text">{{ news.intro }}</p>
        <a href="{% url 'mainapp:news_detail' page=page_num pk=news.pk %}" class="card-link">Подробнее</a>
      </div>
    </div>
    
    {% endfor %}
    
  </div>

  <div class="col-lg-4">
    <div class="card my-2 sticky-top">
      <div class="card-header">
        Фильтры
      </div>
      <div class="card-body">
        <form action="">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Дата от...</span>
            </div>
            <input type="date" class="form-control" name="dateFrom">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Дата до...</span>
            </div>
            <input type="date" class="form-control" name="dateTo">
          </div>

          <button type="submit" class="btn btn-primary btn-block">Фильтровать</button>
        </form>
      </div>
    </div>
  </div>

</div>

<!-- pagination -->

{% include 'mainapp/includes/inc_pagination.html' %}

<!-- /pagination -->

</div>

{% endblock content %}
