{% load static %}
<!doctype html>
<html lang="ru">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% include 'mainapp/includes/inc_css.html' %}
        <title>Welcome to GeekLab!</title>
    </head>
    <body>
        {% include 'authapp/includes/inc_messages.html' %}
        <div class="row justify-content-around align-items-center"
             style="height: 100vh; margin: 0px">
            <div class="text-center">
                <p>
                    <a href="/">
                        <img src="{% static 'img/logo.png' %}" alt="">
                    </a>
                </p>
                {% block content %}
                {% endblock content %}
                <!-- JavaScript section -->
                {% include 'mainapp/includes/inc_js.html' %}
                {% block js %}
                    <script>
            $(document).ready(function () {

                {% if messages %}
                
                // Toasts
                $(".toast").toast({ delay: 5000 });
                $(".toast").toast("show");

                {% endif %}

                });
                    </script>
                {% endblock js %}
            </body>
        </html>
